<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITA.SQLServerDAL.Properties.Settings.ITAConnectionString"
            connectionString="Data Source=hds-017.hichina.com;Initial Catalog=hds0170670_db;Persist Security Info=True;User ID=hds0170670;Password=m6s8u7w9e2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
